.block {
  border: 1px solid black;
  border-radius: 30px;
  box-sizing: border-box;
  height: calc(100vh / 3);
  margin: 1px;
  padding: 1rem;
  width: calc(100vw / 3);

  &--small {
    width: calc(100vw / 5);
  }
}